@charset "UTF-8";

 
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */