/* content.css */
.content__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content__article {
    min-height: 500px;
    width: 100%;
}










.yt
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #d94348;
	float: left;
}

.yt:hover
{
	background-color: #c83237;
}

.git
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #c21d3b;
	float: left;
}

.git:hover
{
	background-color: #3557a2;
}

.in
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #3095d3;
	float: left;
}

.in:hover
{
	background-color: #2084c2;
}

a.sociallink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 105px;
	height: 142px;
}